{{#each this}}
<li class="gallery-card">
        <div class="img-thumb">
            <img src="{{webformatURL}}" alt="{{tags}}" width="240" class="gallery-card-img" data-modal="{{largeImageURL}}" />
        </div>
    
        <div class="stats">
            <div class="stats-thumb">
                <p class="stats-item">
                    <i class="material-icons">thumb_up</i>
                    {{likes}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">visibility</i>
                    {{views}}
                </p>
            </div>
            <div class="stats-thumb">
                <p class="stats-item">
                    <i class="material-icons">comment</i>
                    {{comments}}
                </p>
                <p class="stats-item">
                    <i class="material-icons">cloud_download</i>
                    {{downloads}}
                </p>
            </div>
        </div>
    
</li>
{{/each}}